{% extends 'base.html.twig' %}

{% block title %}
    Cart Summary
{% endblock %}

{% block menu %}
    <ul class="nav nav-pills pull-right">
        <li role="presentation">
            <a href="{{ path('list_product') }}">
                Product List
            </a>
        </li>
        <li role="presentation" class="active">
            <a href="{{ path('cart_summary') }}">
                Cart Summary
            </a>
        </li>
    </ul>
{% endblock %}

{% block container %}
    <div class="col-lg-4">
        <label>Shipping region : </label>
        <select id="list_regions">
            <option value="1">Mauritius</option>
            <option value="2">Rodrigues</option>
        </select>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th width="5%">Item</th>
            <th width="50%">Name</th>
            <th width="15%">Price</th>
            <th width="5%">Quantity</th>
            <th width="20%">Total</th>
            <th width="5%"></th>
        </tr>
        </thead>
        <tbody>
        {% if(empty_cart == false) %}
            {% for prod in products %}
            <tr>
                <th>
                    <img src="{{ asset('img/'~ prod.name | lower ~'.jpg') }}" width="40">
                </th>
                <td>
                    {{ prod.name }}
                </td>
                <td>
                    Mur. <span id="price-prod-{{ prod.id }}">{{ prod.price }}</span>
                </td>
                <td>
                    <input type="number"  id="qtty-prod-{{ prod.id }}" value="{{ prod.qtty }}" class="form-control qtt-prod" min="1">
                </td>
                <td>
                    Mur. <span  id="total-prod-{{ prod.id }}" class="total-prod">{{ prod.total }}</span>
                </td>
                <td>
                    <a class="btn btn-link" href="{{ path('delete_from_cart') }}/{{ prod.id }}">
                        <i class="fa fa-times text-danger"></i>
                    </a>
                </td>
            </tr>

            {% endfor %}
        {% else %}
            <tr>
             <td align="center" colspan="6">No product in your cart</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="summary-total">
        <table class="total">
            <tr>
                <td width="400px"></td>
                <td width="150px" align="right" class="text-muted">Sub Total : </td>
                <td width="150px" align="left">
                    <strong>Mur.
                        <span id="sub-total">
                            {% if(empty_cart == false) %}
                                {{ sub_total }}
                            {% else %}
                                0
                            {% endif %}
                        </span>
                    </strong>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right" class="text-muted">Shipping Charge : </td>
                <td align="left" class="text-muted">
                    Mur.
                    <span id="shipping-charge"> {% if(empty_cart == false) %}{{ shipping_charge }}{% else %}0{% endif %}</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right"><strong>Total Amount : </strong></td>
                <td align="left" class="text-success">
                    {% if(empty_cart == false) %}
                        <h4>Mur. <span id="real-total">{{ shipping_charge+sub_total }}</span></h4>
                    {% else %}
                        <h4>Mur. 0</h4>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="row pull-right">
        <a class="btn btn-default " href="{{ path('list_product') }}">Continue shopping</a>
        <button class="btn btn-primary" {% if(empty_cart == true) %} disabled {% endif %} id="order">Order</button>
    </div>
    <br>
    <br>
    <br>

{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function () {

            function getAllRegion(){

                $.ajax({
                    url: "{{ path('all_region') }}",
                    method: "GET",
                    success: function(regions) {
                        var reg_tag = "";
                        for(var i=0 ; i< regions.length; i++)
                        {
                            reg_tag += '<option value="'+regions[i].id+'">';
                            reg_tag += regions[i].name;
                            reg_tag += '</option>';
                        }
                        $('#list_regions').html(reg_tag);
                    }
                });
            }
            function getCartProduct(){

                $.ajax({
                    url: "{{ path('get_cart_products') }}",
                    method: "GET",
                    success: function(prods) {

                        for(var i=0; i< prods.length; i++)
                        {

                        }
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }

            function showShippingCharge(DATA) {
                $.ajax({
                    url: "{{ path('show_shipping_charge') }}",
                    method: "POST",
                    data: {
                        "id_region" : $('#list_regions').val(),
                        "prods" : DATA
                    },
                    success: function(data) {
                        $('#shipping-charge').text(data.ship_price);
                        var ship = parseFloat($('#shipping-charge').text());
                        var sub =  parseFloat($('#sub-total').text());
                        $('#real-total').text(sub+ship);

                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
            }

            function show_total_per_prod(subject) {
                var tag_id = subject.id;
                var id_prod = tag_id.split("-")[2];
                var price = $("#price-prod-"+id_prod).text();
                var qtty = $("#qtty-prod-"+id_prod).val();
                $("#total-prod-"+id_prod).text(price*qtty);
                var sub_tot = 0;
                $('.total-prod').each(function()
                {
                    sub_tot = sub_tot + parseFloat($(this).text());
                });
                $('#sub-total').text(sub_tot);

                var post_data = new Array();
                $('.qtt-prod').each(function()
                {
                    var id_p = $(this)[0].id.split("-")[2];
                    var qt = $("#qtty-prod-"+id_p).val();
                    post_data.push({id:id_p,qtty:qt});
                });
                showShippingCharge(post_data);
            }

            getAllRegion();

            $('.qtt-prod').change(function () {
                show_total_per_prod($(this)[0]);
            });

            $('#list_regions').change(function(){
                var post_data = new Array();
                $('.qtt-prod').each(function()
                {
                    var id_p = $(this)[0].id.split("-")[2];
                    var qt = $("#qtty-prod-"+id_p).val();
                    post_data.push({id:id_p,qtty:qt});
                });
                showShippingCharge(post_data);
            });

            $('#order').click(function () {
               alert("UNDER CONSTRUCTION");
            });
        })
    </script>
{% endblock %}
